@use "../../../styles/utils.scss" as *;

.Account {
  display: flex;
  flex-direction: column;
  gap: pxToRem(12px);

  &__card {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24px);
  }

  .CardText__button {
    align-self: flex-start;
  }

  &__CTA {
    display: flex;
    gap: pxToRem(18px) pxToRem(8px);
  }

  &__keypair {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: pxToRem(16px);

    .Input__side-element--right {
      cursor: pointer;
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    border-radius: pxToRem(8px);
    padding: pxToRem(16px);
  }

  // TODO: temp fix until SDS is fixed (tooltip overlap)
  // Adjusting form element z-index to fix "Copied" tooltip overlap
  .Input {
    // Keypair Generator response
    &:has(#generate-keypair-publickey) {
      z-index: 2;
    }

    &:has(#generate-keypair-secretkey) {
      z-index: 1;
    }

    // Create Multiplexed Account main form
    &:has(#muxed-public-key) {
      z-index: 2;
    }

    &:has(#muxed-account-id) {
      z-index: 1;
    }

    // Create Multiplexed Account results
    &:has(#muxed-public-key-result) {
      z-index: 3;
    }

    &:has(#muxed-account-id-result) {
      z-index: 2;
    }

    &:has(#muxed-account-address-result) {
      z-index: 1;
    }
  }
}
