@use "../../../styles/utils.scss" as *;

.Account {
  display: flex;
  flex-direction: column;
  gap: pxToRem(12px);

  &__card {
    display: flex;
    flex-direction: column;
    gap: pxToRem(24px);
  }

  .CardText__button {
    align-self: flex-start;
  }

  &__CTA {
    display: flex;
    gap: pxToRem(18px) pxToRem(8px);
    flex-wrap: wrap;

    & > * {
      min-width: fit-content;

      @media screen and (max-width: 700px) {
        flex: 1;
      }
    }
  }

  &__keypair {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: pxToRem(16px);

    .Input__side-element--right {
      cursor: pointer;
    }
  }

  &__create__buttons {
    .Button {
      min-width: fit-content;
    }

    @media screen and (max-width: 420px) {
      & > * {
        width: 100%;
      }

      &__group {
        flex: 1;

        .Button {
          flex: 1;
        }
      }
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
    background-color: var(--sds-clr-gray-03);
    border-radius: pxToRem(8px);
    padding: pxToRem(16px);
  }

  &__fundTokens {
    display: grid;
    gap: pxToRem(12px);
    grid-template-columns: repeat(auto-fit, minmax(pxToRem(280px), 1fr));

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: pxToRem(8px);

      border: 1px solid var(--sds-clr-gray-06);
      border-radius: pxToRem(8px);
      padding: pxToRem(12px);

      &__icon {
        width: pxToRem(32px);
        height: pxToRem(32px);
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid var(--sds-clr-gray-06);

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &__info {
        flex: 1;
        color: var(--sds-clr-gray-11);
      }

      &__amount {
        color: var(--sds-clr-gray-12);
      }

      .Button {
        width: fit-content;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}
