@use "../../styles/utils.scss" as *;

.TransactionStepper {
  display: flex;
  flex-direction: column;

  &__step {
    display: flex;
    gap: pxToRem(8px);
    align-items: flex-start;

    &[data-is-clickable="true"] {
      cursor: pointer;
    }
  }

  &__indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToRem(30px);
    height: pxToRem(30px);
    border-radius: 100px;
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-semi-bold);
    overflow: hidden;
    background-color: var(--sds-clr-gray-01);
    border: 1px solid var(--sds-clr-gray-06);
    color: var(--sds-clr-gray-09);

    [data-is-active="true"] > .TransactionStepper__indicator > & {
      background-color: var(--sds-clr-gray-12);
      border-color: var(--sds-clr-gray-12);
      color: var(--sds-clr-gray-01);
    }
  }

  &__connector {
    width: 1px;
    height: pxToRem(24px);
    background-color: var(--sds-clr-gray-06);
    flex-shrink: 0;

    [data-has-description="true"] & {
      height: pxToRem(100px);
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    padding-top: pxToRem(5px);
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-09);
    white-space: nowrap;

    [data-has-description="true"] > & {
      padding-bottom: pxToRem(24px);
    }

    [data-is-active="true"] > & {
      color: var(--sds-clr-gray-12);
    }

    [data-is-clickable="true"] > & {
      @media (hover: hover) {
        &:hover {
          color: var(--sds-clr-gray-11);
        }
      }
    }
  }

  &__description {
    white-space: normal;
    color: var(--sds-clr-gray-09);
    padding-top: pxToRem(2px);
  }
}
