@use "../../styles/utils.scss" as *;

.PrettyJson {
  --PrettyJson-bracket-color: #0431fa;
  --PrettyJson-nested-bracket-color: #319331;
  --PrettyJson-string-color: #a31515;

  // Same style as Monaco Editor in <CodeEditor/>
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: pxToRem(12px);
  line-height: pxToRem(18px);
  font-weight: var(--sds-fw-regular);
  letter-spacing: normal;

  .sds-theme-dark & {
    --PrettyJson-nested-bracket-color: #da70d6;
    --PrettyJson-string-color: #ce9178;
    --PrettyJson-bracket-color: #ffd700;
  }

  &__loaderContainer {
    display: flex;
    justify-content: center;
  }

  &__nested {
    padding-left: pxToRem(16px);

    .PrettyJson__bracket {
      color: var(--PrettyJson-nested-bracket-color);
    }
    // Show "Signatures Checked" message only if signatures are validated
    &[data-is-custom-key] {
      &:has(.PrettyJson--success),
      &:has(.PrettyJson--error) {
        .PrettyJson__key__note {
          display: block;
        }
      }
    }

    &:has(+ .PrettyJson--success) {
      .PrettyJson__key {
        color: var(--sds-clr-green-11);
      }
    }

    &:has(+ .PrettyJson--error) {
      .PrettyJson__key {
        color: var(--sds-clr-red-11);
      }
    }
  }

  &__inline {
    display: flex;
    gap: pxToRem(4px);
    position: relative;
  }

  &__array {
    & > .PrettyJson {
      padding-left: pxToRem(16px);

      & > .PrettyJson__bracket--end {
        &::after {
          content: ",";
        }
      }
    }
  }

  &--click {
    cursor: pointer;
  }

  &__value {
    &--string {
      color: var(--sds-clr-navy-11);
    }

    &--number,
    &--bigint {
      color: var(--sds-clr-lime-11);
    }

    &--boolean {
      color: var(--sds-clr-pink-11);
    }
  }

  &__value,
  &__comma,
  &__quotes,
  &__key {
    color: var(--PrettyJson-string-color);
  }

  &__bracket {
    color: var(--PrettyJson-bracket-color);
  }

  &__key {
    white-space: nowrap;

    &__note {
      display: none;
      font-size: pxToRem(12px);
      margin-left: pxToRem(4px);
      color: var(--sds-clr-gray-09);
    }
  }

  .Link {
    font-family: var(--sds-ff-monospace);
  }

  &__expandIcon {
    width: pxToRem(20px);
    height: pxToRem(20px);
    position: absolute;
    top: 50%;
    left: pxToRem(-20px);
    transform: translate(0, -40%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    svg {
      display: block;
      width: pxToRem(16px);
      height: pxToRem(16px);
      stroke: var(--sds-clr-gray-10);
    }
  }

  &__expandSize {
    color: var(--sds-clr-gray-09);
    font-size: pxToRem(12px);
    margin-left: pxToRem(4px);
  }

  &--success {
    & > * {
      color: var(--sds-clr-green-11);
    }
  }

  &--error {
    & > * {
      color: var(--sds-clr-red-11);
    }
  }

  // Code wrapping
  &[data-code-wrapped="true"] {
    .PrettyJson__inline {
      & > * {
        word-break: break-all;
      }
    }

    .PrettyJson__value {
      white-space: nowrap;

      &--string {
        word-break: break-all;
        white-space: normal;
      }
    }
  }
}
