@use "../utils.scss" as *;

.FieldNote {
  --FieldNote-font-size: #{pxToRem(12px)};
  --FiledNote-line-height: #{pxToRem(18px)};

  font-family: var(--sds-ff-base);
  font-size: var(--FieldNote-font-size);
  line-height: var(--FiledNote-line-height);
  color: var(--sds-clr-gray-11);
  font-weight: var(--sds-fw-regular);

  // Size
  &--sm {
    --FieldNote-font-size: #{pxToRem(12px)};
    --FiledNote-line-height: #{pxToRem(18px)};
  }

  &--md {
    --FieldNote-font-size: #{pxToRem(12px)};
    --FiledNote-line-height: #{pxToRem(18px)};
  }

  &--lg {
    --FieldNote-font-size: #{pxToRem(14px)};
    --FiledNote-line-height: #{pxToRem(20px)};
  }

  // Variant
  &--error {
    color: var(--sds-clr-red-11);
  }
}
