@use "../../../styles/utils.scss" as *;

.ExpandToggle {
  --ExpandToggle-gap: #{pxToRem(4px)};
  --ExpandToggle-icon-size: #{pxToRem(12px)};
  --ExpandToggle-icon-color: var(--sds-clr-gray-09);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ExpandToggle-gap);
  cursor: pointer;

  svg {
    display: block;
    width: var(--ExpandToggle-icon-size);
    height: var(--ExpandToggle-icon-size);
    stroke: var(--ExpandToggle-icon-color);
    transform: rotate(0deg);
    transition: transform ease-in-out 0.2s;
  }

  &[data-is-expanded="true"] {
    svg {
      transform: rotate(90deg);
    }
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

// =============================================================================
// State Change
// =============================================================================
.StateChange {
  &__item {
    .Badge {
      width: fit-content;
    }
  }

  &__diff {
    background-color: var(--sds-clr-gray-01);
    border-radius: pxToRem(8px);
    border: 1px solid var(--sds-clr-gray-06);
    overflow: hidden;

    &__content {
      max-height: pxToRem(296px);
      overflow-x: clip;
      overflow-y: auto;
    }

    table[class*="-diff-container"] {
      font-size: pxToRem(14px);
      line-height: pxToRem(18px);
      background-color: var(--sds-clr-gray-02);

      tr {
        // Hide expand lines row
        &[class*="-code-fold"] {
          display: none;
        }

        td {
          &[class*="-content"]:not(:last-child) {
            border-right: 1px solid var(--sds-clr-gray-06);
          }
        }
      }

      pre {
        font-family: var(--sds-ff-monospace), monospace;
        line-height: pxToRem(18px);
        word-break: break-all;
      }
    }
  }

  &__noDiff {
    background-color: var(--sds-clr-gray-02);
    font-family: var(--sds-ff-monospace), monospace;
    font-size: pxToRem(14px);
    color: var(--sds-clr-gray-12);
    padding: pxToRem(10px);
  }

  &__diffTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;

    background-color: var(--sds-clr-gray-01);
    border-bottom: 1px solid var(--sds-clr-gray-06);

    font-family: var(--sds-ff-base);
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    color: var(--sds-clr-gray-11);
    font-weight: var(--sds-fw-medium);

    & > div {
      width: 50%;
      padding: pxToRem(10px);

      &:first-child:not(:last-child) {
        border-right: 1px solid var(--sds-clr-gray-06);
      }
    }
  }
}

// =============================================================================
// Fee Breakdown
// =============================================================================
.FeeBreakdown {
  color: var(--sds-clr-gray-11);

  &__text {
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
    font-weight: var(--sds-fw-medium);
    white-space: nowrap;

    &[data-is-bold="true"] {
      color: var(--sds-clr-gray-12);
    }
  }

  // Table
  &__gridTableContainer {
    width: 100%;
    overflow-y: auto;

    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-base-00);
  }

  &__gridTable {
    min-width: fit-content;

    &__row {
      display: grid;
      grid-template-columns:
        minmax(pxToRem(200px), 1.4fr)
        minmax(pxToRem(160px), 1fr)
        minmax(pxToRem(160px), 1fr)
        minmax(pxToRem(160px), 1fr);

      &:not(:first-child) {
        border-top: 1px solid var(--sds-clr-gray-06);
      }

      &[data-is-header="true"] {
        font-size: pxToRem(12px);
        line-height: pxToRem(18px);
        font-weight: var(--sds-fw-medium);
        color: var(--sds-clr-gray-11);
      }

      &[data-is-highlighted="true"] {
        background-color: var(--sds-clr-gray-03);
      }
    }

    &__cell {
      display: flex;
      flex-direction: column;
      padding: pxToRem(8px) pxToRem(12px);
      justify-content: center;

      &:not(:last-child) {
        border-right: 1px solid var(--sds-clr-gray-06);
      }

      &[data-is-nested="true"] {
        padding: pxToRem(12px) pxToRem(16px);
      }

      & > .Box {
        flex: 1;
      }

      .Badge {
        --Badge-padding-vertical: 0;
        --Badge-padding-horizontal: #{pxToRem(6px)};

        font-family: var(--sds-ff-monospace), monospace;
        letter-spacing: pxToRem(-0.24px);
      }
    }
  }

  .ExpandBox {
    .FeeBreakdown__gridTable__row {
      &:first-child {
        border-top: 1px solid var(--sds-clr-gray-06);
      }
    }
  }

  // Footprint
  ul.FeeBreakdown__footprint {
    display: flex;
    flex-direction: column;
    gap: pxToRem(4px);
    padding: pxToRem(12px);
    margin: 0;
    background-color: var(--sds-clr-gray-02);
    border-radius: pxToRem(8px);

    list-style-type: disc;
    list-style-position: inside;

    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-11);

    li::before {
      display: none;
    }
  }
}

// =============================================================================
// Signatures
// =============================================================================
.Signatures {
  color: var(--sds-clr-gray-11);

  &__cell {
    &[data-is-header="true"] {
      text-align: left;
      font-size: pxToRem(12px);
      line-height: pxToRem(18px);
      color: var(--sds-clr-gray-11);
    }

    &[data-is-signature="true"] {
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;
      font-family: var(--sds-ff-monospace), monospace;
    }
  }

  &__gridTableContainer {
    width: 100%;
    overflow-y: auto;

    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-base-00);

    table {
      tr {
        display: grid;
        grid-template-columns:
          minmax(pxToRem(160px), 1fr)
          minmax(pxToRem(160px), 1fr)
          minmax(pxToRem(160px), 1fr);

        &[data-is-highlighted="true"] {
          background-color: var(--sds-clr-gray-03);
        }
      }

      td,
      th {
        display: flex;
        flex-direction: column;
        padding: pxToRem(8px) pxToRem(12px);
        justify-content: center;

        &:not(:last-child) {
          border-right: 1px solid var(--sds-clr-gray-06);
        }

        .Badge {
          --Badge-padding-vertical: 0;
          --Badge-padding-horizontal: #{pxToRem(6px)};

          font-family: var(--sds-ff-monospace), monospace;
          letter-spacing: pxToRem(-0.24px);
        }
      }

      tbody {
        tr {
          border-top: 1px solid var(--sds-clr-gray-06);
        }
      }
    }
  }
}

// =============================================================================
// Events
// =============================================================================
.TransactionEvents {
  .Button,
  .Badge {
    width: fit-content;
  }

  .Badge {
    gap: pxToRem(4px);
  }

  .Button {
    svg {
      transform: rotate(0deg);
      transition: transform ease-in-out 0.2s;
    }

    &[data-is-expanded="true"] {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .Card {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
  }

  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(8px);
    padding: pxToRem(12px);
    gap: pxToRem(12px);

    &--inset {
      padding: pxToRem(8px);
      background-color: var(--sds-clr-gray-03);
      border: none;

      pre {
        padding-left: pxToRem(8px);
        padding-right: pxToRem(8px);
        margin: 0;
        font-family: var(--sds-ff-monospace), monospace;
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);
        color: var(--sds-clr-gray-12);
        overflow: auto;
      }
    }

    &--data {
      gap: pxToRem(4px);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: pxToRem(14px);
    line-height: pxToRem(18px);

    @media (max-width: 500px) {
      flex-direction: column;
    }

    &__label {
      width: pxToRem(80px);
      color: var(--sds-clr-gray-12);
      font-family: var(--sds-ff-monospace), monospace;
    }

    &__value {
      flex: 1;
    }
  }

  &__badgeLink {
    cursor: pointer;
    width: fit-content;

    @media (hover: hover) {
      .Badge {
        transition: color var(--sds-anim-transition-default);
        --Badge-color-icon: currentColor;
      }

      &:hover {
        .Badge {
          --Badge-color-text: #{var(--sds-clr-lilac-12)};
        }
      }
    }
  }
}

// =============================================================================
// Contracts
// =============================================================================
.TransactionContracts {
  &__contractId {
    display: inline;
    vertical-align: middle;

    .CopyText {
      padding-left: pxToRem(8px);
    }
  }
}

// =============================================================================
// Resource Profiler
// =============================================================================
.TransactionResourceProfiler {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: pxToRem(24px);

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &__header {
      display: flex;
      justify-content: space-between;
      gap: pxToRem(16px);
      color: var(--sds-clr-gray-12);
      margin-bottom: pxToRem(4px);
    }

    &__container {
      border-radius: pxToRem(4px);
      padding: pxToRem(4px) pxToRem(8px);

      &:nth-child(even) {
        background-color: var(--sds-clr-gray-03);
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      gap: pxToRem(16px);

      font-size: pxToRem(14px);
      line-height: pxToRem(20px);

      &[data-limit] {
        font-size: pxToRem(12px);
        line-height: pxToRem(18px);
      }
    }

    &__value {
      color: var(--sds-clr-gray-12);
    }
  }
}
