@use "../../../styles/utils.scss" as *;

.ExpandToggle {
  --ExpandToggle-gap: #{pxToRem(4px)};
  --ExpandToggle-icon-size: #{pxToRem(12px)};
  --ExpandToggle-icon-color: var(--sds-clr-gray-09);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ExpandToggle-gap);
  cursor: pointer;

  svg {
    display: block;
    width: var(--ExpandToggle-icon-size);
    height: var(--ExpandToggle-icon-size);
    stroke: var(--ExpandToggle-icon-color);
    transform: rotate(0deg);
    transition: transform ease-in-out 0.2s;
  }

  &[data-is-expanded="true"] {
    svg {
      transform: rotate(90deg);
    }
  }

  @media (hover: hover) {
    &:hover {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.TransactionTab {
  &__emptyMessage {
    min-height: pxToRem(272px);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-gray-03);
    padding: pxToRem(16px);

    color: var(--sds-clr-gray-11);
  }
}

// =============================================================================
// State Change
// =============================================================================
.StateChange {
  &__item {
    .Badge {
      width: fit-content;
    }
  }

  &__diff {
    background-color: var(--sds-clr-gray-01);
    border-radius: pxToRem(8px);
    border: 1px solid var(--sds-clr-gray-06);
    overflow: hidden;

    &__content {
      max-height: pxToRem(296px);
      overflow-x: clip;
      overflow-y: auto;
    }

    table[class*="-diff-container"] {
      font-size: pxToRem(14px);
      line-height: pxToRem(18px);
      background-color: var(--sds-clr-gray-02);

      tr {
        // Hide expand lines row
        &[class*="-code-fold"] {
          display: none;
        }

        td {
          &[class*="-content"]:not(:last-child) {
            border-right: 1px solid var(--sds-clr-gray-06);
          }
        }
      }

      pre {
        font-family: var(--sds-ff-monospace), monospace;
        line-height: pxToRem(18px);
        word-break: break-all;
      }
    }
  }

  &__noDiff {
    background-color: var(--sds-clr-gray-02);
    font-family: var(--sds-ff-monospace), monospace;
    font-size: pxToRem(14px);
    color: var(--sds-clr-gray-12);
    padding: pxToRem(10px);
  }

  &__diffTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;

    background-color: var(--sds-clr-gray-01);
    border-bottom: 1px solid var(--sds-clr-gray-06);

    font-family: var(--sds-ff-base);
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    color: var(--sds-clr-gray-11);
    font-weight: var(--sds-fw-medium);

    & > div {
      width: 50%;
      padding: pxToRem(10px);

      &:first-child:not(:last-child) {
        border-right: 1px solid var(--sds-clr-gray-06);
      }
    }
  }
}

// =============================================================================
// Fee Breakdown
// =============================================================================
.FeeBreakdown {
  color: var(--sds-clr-gray-11);

  &__text {
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
    font-weight: var(--sds-fw-medium);
    white-space: nowrap;

    &[data-is-bold="true"] {
      color: var(--sds-clr-gray-12);
    }
  }

  // Table
  &__gridTableContainer {
    width: 100%;
    overflow-y: auto;

    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-base-00);
  }

  &__gridTable {
    min-width: fit-content;

    &__row {
      display: grid;
      grid-template-columns:
        minmax(pxToRem(200px), 1.4fr)
        minmax(pxToRem(160px), 1fr)
        minmax(pxToRem(160px), 1fr)
        minmax(pxToRem(160px), 1fr);

      &:not(:first-child) {
        border-top: 1px solid var(--sds-clr-gray-06);
      }

      &[data-is-header="true"] {
        font-size: pxToRem(12px);
        line-height: pxToRem(18px);
        font-weight: var(--sds-fw-medium);
        color: var(--sds-clr-gray-11);
      }

      &[data-is-highlighted="true"] {
        background-color: var(--sds-clr-gray-03);
      }
    }

    &__cell {
      display: flex;
      flex-direction: column;
      padding: pxToRem(8px) pxToRem(12px);
      justify-content: center;

      &:not(:last-child) {
        border-right: 1px solid var(--sds-clr-gray-06);
      }

      &[data-is-nested="true"] {
        padding: pxToRem(12px) pxToRem(16px);
      }

      & > .Box {
        flex: 1;
      }

      .Badge {
        --Badge-padding-vertical: 0;
        --Badge-padding-horizontal: #{pxToRem(6px)};

        font-family: var(--sds-ff-monospace), monospace;
        letter-spacing: pxToRem(-0.24px);
      }
    }
  }

  .ExpandBox {
    .FeeBreakdown__gridTable__row {
      &:first-child {
        border-top: 1px solid var(--sds-clr-gray-06);
      }
    }
  }

  // Footprint
  ul.FeeBreakdown__footprint {
    display: flex;
    flex-direction: column;
    gap: pxToRem(4px);
    padding: pxToRem(12px);
    margin: 0;
    background-color: var(--sds-clr-gray-02);
    border-radius: pxToRem(8px);

    list-style-type: disc;
    list-style-position: inside;

    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-11);

    li::before {
      display: none;
    }
  }
}

// =============================================================================
// Signatures
// =============================================================================
.Signatures {
  color: var(--sds-clr-gray-11);

  &__cell {
    &[data-is-header="true"] {
      text-align: left;
      font-size: pxToRem(12px);
      line-height: pxToRem(18px);
      color: var(--sds-clr-gray-11);
    }

    &[data-is-signature="true"] {
      white-space: normal;
      word-break: break-all;
      overflow-wrap: break-word;
      font-family: var(--sds-ff-monospace), monospace;
    }
  }

  &__gridTableContainer {
    width: 100%;
    overflow-y: auto;

    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(8px);
    background-color: var(--sds-clr-base-00);

    table {
      tr {
        display: grid;
        grid-template-columns:
          minmax(pxToRem(160px), 1fr)
          minmax(pxToRem(160px), 1fr)
          minmax(pxToRem(160px), 1fr);

        &[data-is-highlighted="true"] {
          background-color: var(--sds-clr-gray-03);
        }
      }

      td,
      th {
        display: flex;
        flex-direction: column;
        padding: pxToRem(8px) pxToRem(12px);
        justify-content: center;

        &:not(:last-child) {
          border-right: 1px solid var(--sds-clr-gray-06);
        }

        .Badge {
          --Badge-padding-vertical: 0;
          --Badge-padding-horizontal: #{pxToRem(6px)};

          font-family: var(--sds-ff-monospace), monospace;
          letter-spacing: pxToRem(-0.24px);
        }
      }

      tbody {
        tr {
          border-top: 1px solid var(--sds-clr-gray-06);
        }
      }
    }
  }
}

// =============================================================================
// Events
// =============================================================================
.TransactionEvents {
  .Button,
  .Badge {
    width: fit-content;
  }

  .Badge {
    gap: pxToRem(4px);
  }

  .Button {
    svg {
      transform: rotate(0deg);
      transition: transform ease-in-out 0.2s;
    }

    &[data-is-expanded="true"] {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .Card {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
  }

  &__card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--sds-clr-gray-06);
    border-radius: pxToRem(8px);
    padding: pxToRem(12px);
    gap: pxToRem(12px);

    &--inset {
      padding: pxToRem(8px);
      background-color: var(--sds-clr-gray-03);
      border: none;

      pre {
        padding-left: pxToRem(8px);
        padding-right: pxToRem(8px);
        margin: 0;
        font-family: var(--sds-ff-monospace), monospace;
        font-size: pxToRem(14px);
        line-height: pxToRem(20px);
        color: var(--sds-clr-gray-12);
        overflow: auto;
      }
    }

    &--data {
      gap: pxToRem(4px);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: pxToRem(14px);
    line-height: pxToRem(18px);

    @media (max-width: 500px) {
      flex-direction: column;
    }

    &__label {
      width: pxToRem(80px);
      color: var(--sds-clr-gray-12);
      font-family: var(--sds-ff-monospace), monospace;
    }

    &__value {
      flex: 1;
    }
  }

  &__badgeLink {
    cursor: pointer;
    width: fit-content;

    @media (hover: hover) {
      .Badge {
        transition: color var(--sds-anim-transition-default);
        --Badge-color-icon: currentColor;
      }

      &:hover {
        .Badge {
          --Badge-color-text: #{var(--sds-clr-lilac-12)};
        }
      }
    }
  }
}

// =============================================================================
// Token Summary
// =============================================================================
.TransactionTokenSummary {
  .DataTable {
    font-size: pxToRem(14px);

    // Needed for the Copy address tooltip
    &__container {
      overflow: visible;
    }
  }

  &__address {
    .Link {
      width: pxToRem(96px);
      white-space: nowrap;
    }

    .CopyText {
      line-height: 1;
    }
  }

  &__amount {
    color: var(--sds-clr-gray-11);
  }
}

// =============================================================================
// Contracts
// =============================================================================
.TransactionContracts {
  &__contractId {
    display: inline;
    vertical-align: middle;

    .CopyText {
      padding-left: pxToRem(8px);
    }
  }
}

// =============================================================================
// Resource Profiler
// =============================================================================
.TransactionResourceProfiler {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: pxToRem(24px);

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &__header {
      display: flex;
      justify-content: space-between;
      gap: pxToRem(16px);
      color: var(--sds-clr-gray-12);
      margin-bottom: pxToRem(4px);
    }

    &__container {
      border-radius: pxToRem(4px);
      padding: pxToRem(4px) pxToRem(8px);

      &:nth-child(even) {
        background-color: var(--sds-clr-gray-03);
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      gap: pxToRem(16px);

      font-size: pxToRem(14px);
      line-height: pxToRem(20px);

      &[data-limit] {
        font-size: pxToRem(12px);
        line-height: pxToRem(18px);
      }
    }

    &__value {
      color: var(--sds-clr-gray-12);
    }
  }
}

// =============================================================================
// Transaction Dashboard - Classic Operations
// =============================================================================
.TransactionClassicOperations {
  &__operation {
    display: flex;
    flex-direction: column;

    .Card {
      --Card-padding: #{pxToRem(14px)};
    }
  }

  h2 {
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
  }

  &__operationDetails {
    display: grid;
    gap: pxToRem(6px);
  }

  .InfoFieldItem {
    &__label {
      font-weight: var(--sds-fw-medium);
    }
  }
}

// =============================================================================
// Call Stack Trace
// =============================================================================
.CallStackTrace {
  border: 1px solid var(--sds-clr-gray-06);
  padding: pxToRem(24px);
  border-radius: pxToRem(8px);

  font-family: var(--sds-ff-monospace);
  font-size: pxToRem(14px);
  line-height: pxToRem(18px);
  letter-spacing: -0.28px;
  overflow: hidden;

  &__scrollable {
    overflow: auto;
  }

  &__event {
    display: flex;
    flex-direction: column;
    gap: pxToRem(8px);
    min-width: fit-content;

    &__info {
      display: flex;
      flex-direction: row;
      gap: pxToRem(4px);

      .CallStackTrace__icon {
        // Match the actual line hight (with type offsets)
        height: pxToRem(22px);

        svg {
          stroke: var(--sds-clr-gray-09);
          display: none;
        }

        &[data-visible="true"] {
          cursor: pointer;

          svg {
            display: block;
          }
        }
      }
    }

    &__nested {
      display: flex;
      gap: pxToRem(8px);
      flex-direction: column;

      // Level 1 items
      & > .CallStackTrace__event {
        background-color: var(--sds-clr-gray-03);
        border-radius: pxToRem(4px);
        padding: pxToRem(16px);
        padding-left: pxToRem(20px);

        &[data-is-error="true"] {
          background-color: var(--sds-clr-red-05) !important;
        }

        // Level 2 and deeper items
        .CallStackTrace__event__nested > .CallStackTrace__event {
          padding-top: pxToRem(2px);
          padding-bottom: pxToRem(2px);
          padding-right: 0;
        }
      }
    }
  }

  &__itemType {
    --CallStackTrace--itemType-bg-color: #{var(--sds-clr-teal-03)};
    --CallStackTrace--itemType-border-color: #{var(--sds-clr-teal-06)};
    --CallStackTrace--itemType-text-color: #{var(--sds-clr-teal-11)};

    border: 1px solid var(--CallStackTrace--itemType-border-color);
    color: var(--CallStackTrace--itemType-text-color);
    background-color: var(--CallStackTrace--itemType-bg-color);

    padding: pxToRem(2px) pxToRem(6px);
    border-radius: pxToRem(6px);
    font-size: pxToRem(12px);
    line-height: pxToRem(16px);
    font-weight: var(--sds-fw-semi-bold);
    height: fit-content;

    &[data-type="contract_event"] {
      --CallStackTrace--itemType-bg-color: #{var(--sds-clr-lilac-03)};
      --CallStackTrace--itemType-border-color: #{var(--sds-clr-lilac-06)};
      --CallStackTrace--itemType-text-color: #{var(--sds-clr-lilac-11)};
    }
  }

  &__itemContent {
    display: flex;
    flex-wrap: wrap;
  }

  &__itemFunc {
    &__func,
    .CallStackTrace__bracket {
      color: var(--sds-clr-gray-12);
    }

    &__params {
      padding: 0 pxToRem(4px);

      .CallStackTrace__comma {
        padding-right: pxToRem(4px);
      }
    }
  }

  &__itemContract {
    display: inline-flex;
    gap: pxToRem(4px);
    padding-left: pxToRem(4px);
  }

  &__itemData {
    display: inline;
    flex-basis: 100%;
    color: var(--sds-clr-gray-12);
    padding-top: pxToRem(4px);

    & > span:first-child {
      padding-right: pxToRem(4px);
    }
  }

  &__itemReturn {
    padding-left: pxToRem(4px);
    display: inline-flex;
    gap: pxToRem(4px);

    .CallStackTrace__icon {
      height: pxToRem(18px);

      svg {
        stroke: var(--sds-clr-teal-08);
        display: block;
      }
    }

    .CallStackTrace__comma {
      padding-right: pxToRem(4px);
    }
  }

  &__itemError {
    padding-right: pxToRem(4px);

    &.CallStackTrace__icon {
      svg {
        display: block;
        stroke: var(--sds-clr-red-09);
      }
    }
  }

  &__item {
    display: inline;
    vertical-align: top;
  }

  &__itemObject {
    display: inline;
    vertical-align: top;

    &__item {
      display: inline;
    }

    // Bracket space
    .CallStackTrace__bracket + .CallStackTrace__itemObject__item,
    .CallStackTrace__itemObject__item + .CallStackTrace__bracket {
      padding-left: pxToRem(4px);
    }
  }

  &__itemArray {
    display: inline;
    vertical-align: top;

    &__items {
      display: inline;
    }

    // Bracket space
    .CallStackTrace__bracket + .CallStackTrace__itemArray__items:not(:empty) {
      padding-left: pxToRem(4px);
      padding-right: pxToRem(4px);
    }

    &__item {
      display: inline;
      vertical-align: top;
    }
  }

  &__typedValueItem {
    white-space: nowrap;
    color: var(--sds-clr-gray-12);

    &[data-type] {
      display: inline-flex;

      &::after {
        display: block;
        content: attr(data-type);
        margin-top: pxToRem(6px);
        padding-left: 2px;

        white-space: nowrap;
        font-size: pxToRem(12px);
        line-height: pxToRem(16px);
        color: var(--sds-clr-gray-11);
      }
    }

    // Colors
    // Symbol
    &[data-type="sym"] {
      color: var(--sds-clr-navy-10);
    }

    // String
    &[data-type="string"] {
      color: var(--sds-clr-gray-12);
    }

    // Bytes
    &[data-type="bytes"],
    &[data-type="bytesN"] {
      color: var(--sds-clr-gray-10);
    }

    // Number
    &[data-type="u8"],
    &[data-type="u16"],
    &[data-type="u32"],
    &[data-type="u64"],
    &[data-type="i8"],
    &[data-type="i16"],
    &[data-type="i32"],
    &[data-type="i64"] {
      color: var(--sds-clr-mint-08);
    }

    // Big int
    &[data-type="i128"],
    &[data-type="i256"],
    &[data-type="u128"],
    &[data-type="u256"] {
      color: var(--sds-clr-teal-08);
    }

    // Bool
    &[data-type="bool"] {
      color: var(--sds-clr-pink-10);
    }

    // Address
    &[data-type="address"] {
      color: var(--sds-clr-gray-10);
    }
  }

  &__bracket,
  &__comma,
  &__colon,
  &__ellipsis {
    color: var(--sds-clr-gray-12);
  }

  &__bracket {
    font-weight: var(--sds-fw-bold);
  }

  &__colon {
    margin-right: 4px;
  }

  &__icon {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: pxToRem(16px);
    height: pxToRem(18px);

    svg {
      transition: transform ease-in-out 0.2s;
      transform: rotate(0deg);
      width: 100%;
      height: 100%;
    }

    &[data-is-expanded="false"] {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}
