.ExpandBox {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 100ms ease-out;

  &[data-is-expanded="true"] {
    grid-template-rows: 1fr;
  }

  &[data-is-open="true"] {
    .ExpandBox__inset {
      overflow: visible;
    }
  }

  &__inset {
    overflow: hidden;
  }
}
