.AlertBox {
  position: relative;
  margin: 12px 0;

  &[data-is-visible="false"] {
    visibility: hidden;
  }

  &__close-btn {
    position: absolute;
    right: 12px;
    top: 12px;

    .IconButton svg {
      stroke: var(--sds-clr-gray-09);
    }
  }
}
