.EndpointSetup__url {
  word-break: break-all;
}
.EndpointSetup__url__method {
  display: inline-block;
  border: 1px solid $s-color-neutral6;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;

  background: $s-color-neutral8;
  border-radius: $s-var-radius;
}
