.Introduction {
  margin-top: 2em;
  margin-bottom: 2em;
}
  .Introduction__container {
    max-width: 35em;
  }
  .Introduction__lead {
    margin-top: 1em;
  }
  .Introduction__section {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid $s-color-neutral6;
  }
  .Introduction__spaceTop {
    margin-top: 1em;
  }
