.LaboratoryChrome__header {
  justify-content: space-between;
}

.LaboratoryChrome__siteNavBack {
  border-top: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: $s-color-neutral8;
}
