body {
  font-family: 'suisse', sans-serif;
}
code, kbd, pre, samp {
  font-family: 'suisse-mono', monospace;
}

.so-logo__main svg {
  margin: -1rem 0 -1.2rem 0;
}
.so-logo__separator {
  height: 1em;
}
.so-back {
  padding-bottom: 1rem;
}
input, textarea, select, .so-dropdown__select {
  border-color: $gray;
}

.LaboratoryChrome__siteNavBack,
.pageIntro,
.optionsTable__pair,
.CodeBlock {
  background-color: $lightestGray;
  border-color: transparent;
}
.LaboratoryChrome__network_reset_alert {
  background-color: $black;
  color: $white;
}

.buttonList__item.buttonList__item {
  background-color: transparent;
  border-color: transparent;

  &:hover {
    border-color: #AAAAAA;
  }
}

.s-buttonGroup > {
  .s-button:not(:last-child):not(:first-child),
  .s-buttonGroup__wrapper:not(:last-child):not(:first-child) .s-button {
    border-radius: 0;
  }

  .s-buttonGroup__wrapper:first-of-type .s-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .s-buttonGroup__wrapper:last-of-type .s-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.s-button--light.is-active,
.s-button__light.is-active,
:checked+.s-button--light,
:checked+.s-button__light {
  background: $purple;
  border: 1px solid $purple;
  color: white;
}
.s-button {
  background: $purple;
  border: 1px solid $purple;
}
.s-button__light, .s-button--light {
  background: $white;
  border-color: $gray;
}
.s-button.is-disabled, .s-button:disabled{
  background: $gray;
  border: $gray;
}
.s-button:not(.buttonList__item) {
  border-radius: 4rem;

   &:not([disabled]) {

    :checked + & {
      border-color: $purple;
    }

    :not(:checked) + &.s-button--light {
      &:active {
        background-color: $lightPurple;
        border-color: $lightPurple;
      }
    }

     &:hover {
      background-color: #6400CC;
      border-color: #6400CC;
      color: $white;
    }
  }
}
.is-active.is-active {
  border-color: #CCCCCC;
}

.TreeView__child.TreeView__child {
  border-left-color: #f2f2f2;

  &:hover {
    border-left-color: $lightPurple;
  }
}

.EndpointResult__tabs {
  background-color: $lightPurple;
  border-color: $purple;
}
.EndpointResult__tabs__tab.is-current {
  border-color: $purple;
}

.NetworkPicker .overlay .modal {
  border-radius: .5rem;
  border: none;
}
