.TransactionSigner {
  padding-top: 2em;
}
  .TransactionSigner__import {

  }
  .TransactionSigner__overview {
    margin-bottom: 2em;
  }
  .TransactionSigner__keys {
    margin-bottom: 2em;
  }
  .TransactionSigner__result {
    margin-bottom: 2em;
  }
  .TransactionSigner__result :last-child {
    margin-bottom: 0;
  }
