.XdrViewer__results {
  padding-top: 2em;
  padding-bottom: 2em;
}
.XdrViewer__setup {
  border-bottom: 1px solid $s-color-neutral7;
  padding-bottom: 2em;
}
  .XdrViewer__label {
    margin-bottom: 0.2em;
  }
