@use "./utils.scss" as *;

// Fonts for SDS
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Inter:wght@400;500;600&family=Roboto+Mono&display=swap");

// Layout
#root {
  &.LabLayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
  }
}

.LabLayout {
  color: var(--sds-clr-gray-11);
  background-color: var(--sds-clr-gray-02);

  // Header
  &__header {
    background-color: var(--sds-clr-gray-01);
    border-bottom: 1px solid var(--sds-clr-gray-06);

    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: pxToRem(16px);
      padding: pxToRem(32px);
    }

    &__settings {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      gap: pxToRem(12px);
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: pxToRem(16px);
      padding: 0 pxToRem(32px);

      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
      font-weight: var(--sds-fw-medium);
      margin-bottom: -1px;

      & > div {
        display: flex;
        gap: pxToRem(20px);
        flex: 1;
      }

      &--secondary {
        justify-content: flex-end;
      }
    }
  }

  // Sidebar layout
  &__withSidebar {
    display: grid;
    grid-template-columns:
      pxToRem(296px)
      1fr;
    overflow: hidden;
  }

  // Content
  &__container {
    padding: pxToRem(32px);
    overflow-x: auto;
  }

  &__content {
    width: pxToRem(672px);
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: pxToRem(12px);
  }

  // Sideber
  &__sidebar {
    min-height: 0;
    background-color: var(--sds-clr-gray-01);
    border-right: 1px solid var(--sds-clr-gray-06);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(0, max-content)
      1fr;

    &--top {
      overflow-x: auto;
      padding: pxToRem(32px);
      padding-bottom: pxToRem(16px);
      display: flex;
      flex-direction: column;
      gap: pxToRem(8px);
      flex: 1;
    }

    &--bottom {
      --Sidebar-bottomItems-border-color: transparent;

      flex-grow: 1;
      flex-shrink: 0;
      border-top: 1px solid var(--Sidebar-bottomItems-border-color);
      background-color: var(--sds-clr-gray-01);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: pxToRem(8px);
      padding-top: pxToRem(16px);
      padding-bottom: pxToRem(32px);
      margin-left: pxToRem(32px);
      margin-right: pxToRem(32px);

      &--border {
        --Sidebar-bottomItems-border-color: var(--sds-clr-gray-06);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: pxToRem(8px);
    }
  }
}

// TODO: update name
.NavLink {
  --Nav-navLink-color: var(--sds-clr-gray-11);
  --Nav-navLink-border-color: transparent;

  color: var(--Nav-navLink-color);
  text-decoration: none;
  padding: pxToRem(12px) 0;
  transition:
    color var(--sds-anim-transition-default),
    border-color var(--sds-anim-transition-default);
  border-bottom: 2px solid var(--Nav-navLink-border-color);

  @media (hover: hover) {
    &:hover {
      --Nav-navLink-color: var(--sds-clr-lilac-11);
      --Nav-navLink-border-color: var(--sds-clr-lilac-09);
    }
  }

  &--active {
    cursor: default;
    --Nav-navLink-color: var(--sds-clr-lilac-11);
    --Nav-navLink-border-color: var(--sds-clr-lilac-09);
  }
}

.SidebarLink {
  --SidebarLink-color: var(--sds-clr-gray-11);

  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
  font-weight: var(--sds-fw-medium);
  color: var(--SidebarLink-color);
  transition:
    color var(--sds-anim-transition-default),
    font-weight var(--sds-anim-transition-default);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: pxToRem(4px);

  svg {
    display: block;
    width: pxToRem(16px);
    height: pxToRem(16px);
    stroke: var(--SidebarLink-color);
  }

  @media (hover: hover) {
    &:hover {
      --SidebarLink-color: var(--sds-clr-lilac-11);
      font-weight: var(--sds-fw-semi-bold);
    }
  }

  &--active {
    --SidebarLink-color: var(--sds-clr-lilac-11);
    cursor: default;
    font-weight: var(--sds-fw-semi-bold);
  }
}
