@use "./utils.scss" as *;

.Lab__home {
  &__section {
    padding: pxToRem(32px) pxToRem(24px);

    @media screen and (max-width: 1040px) {
      padding: pxToRem(24px) pxToRem(16px);
    }

    background-color: var(--sds-clr-gray-02);

    &:nth-child(even) {
      background-color: var(--sds-clr-base-00);
    }

    &:nth-child(3) {
      background:
        linear-gradient(
          0deg,
          var(--sds-clr-gray-02) 0%,
          var(--sds-clr-gray-02) 100%
        ),
        var(--sds-clr-base-00);
    }

    &:first-child {
      h1.Heading {
        max-width: 20ch;
      }

      p.Text {
        max-width: 65ch;
      }
    }
  }

  &__content {
    width: clamp(pxToRem(672px), 100%, pxToRem(1280px));
    margin: 0 auto;

    @media screen and (max-width: 1040px) {
      width: 100%;
    }
  }

  // Top section
  &__eyebrow {
    font-size: pxToRem(16px);
    line-height: pxToRem(24px);
    color: var(--sds-clr-lilac-11);
    font-weight: var(--sds-fw-semi-bold);
  }

  // Tutorials
  &__tutorials {
    display: flex;
    flex-direction: row;
    gap: pxToRem(12px);
    flex-wrap: wrap;

    &__video {
      position: relative;
      flex: 2;
      min-width: pxToRem(320px);
      // Keep video ratio
      aspect-ratio: 560/315;
      border-radius: pxToRem(8px);
      overflow: hidden;
    }

    &__list {
      position: relative;
      flex: 1;
      min-width: pxToRem(260px);
      min-height: pxToRem(200px);
      overflow: hidden;

      &__container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
      }

      &__scroll {
        overflow-y: auto;
        height: 100%;
        overflow-scrolling: touch;
        position: relative;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: pxToRem(8px);
      padding: pxToRem(12px);
      border-radius: pxToRem(12px);
      background-color: var(--sds-clr-gray-01);
      transition: background-color var(--sds-anim-transition-default);
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          background-color: var(--sds-clr-gray-03);
        }
      }

      &[data-selected="true"] {
        background-color: var(--sds-clr-gray-03);
        cursor: default;
      }

      &__title {
        color: var(--sds-clr-gray-12);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: pxToRem(8px);

        &::before {
          content: attr(data-number);
          display: flex;
          width: pxToRem(24px);
          height: pxToRem(24px);
          border-radius: 50%;
          border: 1px solid var(--sds-clr-gray-06);
          flex-shrink: 0;
          justify-content: center;
          align-items: center;

          font-size: pxToRem(14px);
          line-height: pxToRem(20px);
          font-weight: var(--sds-fw-bold);
          color: var(--sds-clr-gray-12);
        }
      }

      &__description {
        height: pxToRem(44px);
      }
    }
  }

  // Networks
  &__networks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(pxToRem(320px), 1fr));
    gap: pxToRem(12px);

    &__item {
      padding: pxToRem(4px);
      border-radius: pxToRem(12px);
      background-color: var(--sds-clr-gray-01);
      box-shadow: 0 pxToRem(4px) pxToRem(40px) 0 var(--sds-overlay-01);

      .Button {
        width: fit-content;
      }

      &[data-id="testnet"] {
        .Lab__home__networks__image img {
          left: 0;
        }
      }
    }

    &__image {
      background-color: var(--sds-clr-gray-03);
      height: pxToRem(200px);
      border-radius: pxToRem(12px);
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    &__content {
      padding: pxToRem(24px);
    }

    &__title {
      color: var(--sds-clr-gray-12);
    }

    &__description {
      color: var(--sds-clr-gray-11);
    }
  }

  // Resources
  &__resources {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(pxToRem(320px), 1fr));
    gap: pxToRem(24px);

    &__item {
      background-color: var(--sds-clr-base-00);
      border: 1px solid var(--sds-clr-gray-06);
      border-radius: pxToRem(8px);
      padding: pxToRem(24px);
    }

    &__title {
      color: var(--sds-clr-gray-11);
    }

    &__description {
      color: var(--sds-clr-gray-12);

      .Link {
        margin-bottom: pxToRem(4px);
      }
    }
  }

  // Footer
  &__footer {
    padding: pxToRem(24px) pxToRem(32px);
    background-color: var(--sds-clr-base-00);
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);
    color: var(--sds-clr-gray-11);
    flex: 1;
  }
}
