@use "../../styles/utils.scss" as *;

.XdrTypeSelect {
  position: relative;

  &__options {
    display: none;
    position: absolute;
    top: pxToRem(64px);
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: pxToRem(300px);
    z-index: var(--sds-z-index-modal);
    overflow-x: auto;

    border-radius: pxToRem(6px);
    background-color: var(--sds-clr-gray-01);
    border: 1px solid var(--sds-clr-gray-06);
    box-shadow: 0 pxToRem(10px) pxToRem(20px) pxToRem(-6px)
      var(--sds-overlay-01);

    padding: pxToRem(4px);

    &[data-is-visible="true"] {
      display: flex;
      flex-direction: column;
      gap: pxToRem(4px);
    }
  }

  &__item {
    display: block;
    padding: pxToRem(4px) pxToRem(8px);
    border-radius: pxToRem(4px);
    background-color: var(--sds-clr-gray-01);
    text-decoration: none;
    color: var(--sds-clr-gray-12);
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
    font-weight: var(--font-weight-medium);
    transition: all var(--anim-transition-default);
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--sds-clr-gray-04);
      }
    }

    &--section {
      color: var(--sds-clr-gray-10);
      pointer-events: none;
    }

    &[data-is-current="true"] {
      background-color: var(--sds-clr-gray-04);
      cursor: default;
    }
  }

  .Input__side-element--right {
    svg {
      width: pxToRem(18px);
      height: 100%;
    }
  }
}
