@use "../../styles/utils.scss" as *;

.NoInfoLoadedView {
  --NoInfoLoadedView-color-text: var(--sds-clr-gray-11);
  --NoInfoLoadedView-color-icon: var(--sds-clr-gray-11);

  background-color: var(--sds-clr-gray-03);
  border-radius: pxToRem(8px);
  padding: pxToRem(24px);
  width: 100%;
  height: 100%;

  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
  color: var(--NoInfoLoadedView-color-text);

  svg {
    display: block;
    stroke: var(--NoInfoLoadedView-color-icon);
    width: pxToRem(14px);
    height: pxToRem(14px);
  }

  &[data-type="error"] {
    --NoInfoLoadedView-color-text: var(--sds-clr-gray-12);
    --NoInfoLoadedView-color-icon: var(--sds-clr-red-11);
  }
}
