@use "../../styles/utils.scss" as *;

.StellarDataRenderer {
  --StellarDataRenderer-tab-space: #{pxToRem(16px)};
  --StellarDataRenderer-inline-gap: #{pxToRem(6px)};
  --StellarDataRenderer-type-offset-left: #{pxToRem(4px)};
  --StellarDataRenderer-type-offset-top: #{pxToRem(6px)};

  font-family: var(--sds-ff-monospace), monospace;
  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
  font-weight: var(--sds-fw-medium);
  letter-spacing: -0.5px;
  color: var(--sds-clr-gray-12);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__colon {
    & + .StellarDataRenderer__bracket {
      margin-left: var(--StellarDataRenderer-inline-gap);
    }

    & + .StellarDataRenderer__value {
      margin-left: var(--StellarDataRenderer-inline-gap);
    }
  }

  &__comma {
    display: inline-block;
  }

  &__bracket,
  &__colon,
  &__comma,
  &__quotes {
    color: var(--sds-clr-gray-12);
  }

  &__block {
    padding-left: var(--StellarDataRenderer-tab-space);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__key {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__key,
  &__value {
    [data-type] {
      display: flex;

      &::after {
        display: block;
        content: attr(data-type);
        margin-left: var(--StellarDataRenderer-type-offset-left);
        margin-top: var(--StellarDataRenderer-type-offset-top);

        color: var(--sds-clr-gray-09);
        white-space: nowrap;
        font-size: pxToRem(12px);
        line-height: pxToRem(18px);
      }
    }

    // Colors
    // Symbol
    [data-type="sym"] {
      color: var(--sds-clr-navy-10);
    }

    // String
    [data-type="string"] {
      color: var(--sds-clr-gray-12);

      // Gap needed for the asset link
      .Link {
        padding-left: pxToRem(4px);
      }
    }

    // Bytes
    [data-type="bytes"],
    [data-type="bytesN"] {
      color: var(--sds-clr-gray-10);
    }

    // Number
    [data-type="u8"],
    [data-type="u16"],
    [data-type="u32"],
    [data-type="u64"],
    [data-type="i8"],
    [data-type="i16"],
    [data-type="i32"],
    [data-type="i64"] {
      color: var(--sds-clr-mint-08);
    }

    // Big int
    [data-type="i128"],
    [data-type="i256"],
    [data-type="u128"],
    [data-type="u256"] {
      color: var(--sds-clr-teal-08);
    }

    // Bool
    [data-type="bool"] {
      color: var(--sds-clr-pink-10);
    }

    // Address
    [data-type="address"] {
      color: var(--sds-clr-gray-10);
    }

    // Asset
    [data-type="asset"] {
      .Link {
        font-family: var(--sds-ff-monospace), monospace;
        padding-left: pxToRem(4px);
      }
    }
  }
}
