@use "../../../styles/utils.scss" as *;

.NetworkLimits {
  &__table {
    min-width: fit-content;

    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

      .Label__wrapper {
        justify-content: flex-end;
      }

      .Label {
        color: var(--sds-clr-gray-12);
      }

      .Floater__content {
        text-align: left;
      }

      &[data-is-header="true"] {
        .NetworkLimits__table__cell:first-child {
          padding-left: 0;
          font-weight: var(--sds-fw-medium);
          font-size: pxToRem(12px);
        }
      }

      &:nth-child(even) {
        background-color: var(--sds-clr-gray-03);
      }
    }

    &__cell {
      padding: pxToRem(4px) pxToRem(8px);
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
      font-weight: var(--sds-fw-medium);
      text-align: right;
      color: var(--sds-clr-gray-12);

      &:first-child {
        text-align: left;
        font-weight: var(--sds-fw-regular);
        color: var(--sds-clr-gray-11);
      }
    }
  }
}
