@use "../../styles/utils.scss" as *;

.CustomAiButton {
  position: fixed;
  bottom: pxToRem(20px);
  right: pxToRem(20px);
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: pxToRem(8px) pxToRem(12px);
  border-radius: pxToRem(8px);
  font-weight: var(--sds-fw-bold);
  font-size: pxToRem(14px);
  align-items: center;
  gap: pxToRem(4px);
  background-color: var(--sds-clr-base-01);
  color: var(--sds-clr-base-00);

  &--hidden {
    display: none;
  }

  &--loaded {
    display: flex;
  }

  svg {
    width: pxToRem(18px);
    height: pxToRem(18px);

    --sds-logo-fill: var(--sds-clr-base-00);
  }
}
