@use "../../styles/utils.scss" as *;

.InfoFieldItem {
  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
}

.InfoFieldItem__label {
  flex-shrink: 0;
  width: pxToRem(144px);
  color: var(--sds-clr-gray-11);
}

.InfoFieldItem__value {
  word-break: break-all;
  color: var(--sds-clr-gray-12);
}

.InfoFieldItem__value .failed {
  color: var(--sds-clr-red-11) !important;
}

.InfoFieldItem__value .success {
  color: var(--sds-clr-green-11) !important;
}

@media screen and (max-width: 500px) {
  .InfoFieldItem {
    flex-wrap: wrap;
  }
  .InfoFieldItem__label {
    width: 100%;
  }
}
