.InfoFieldItem {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.InfoFieldItem__label {
  flex-shrink: 0;
  width: 8rem;
  color: var(--sds-clr-gray-11);
}

.InfoFieldItem__value {
  word-break: break-all;
  color: var(--sds-clr-gray-12);

  .Link {
    .Link__icon {
      transition: transform var(--sds-anim-transition-default);
      transform: rotate(0deg);
    }

    &[data-is-expanded="true"] {
      .Link__icon {
        transform: rotate(90deg);
      }
    }
  }
}

.InfoFieldItem__value .failed {
  color: var(--sds-clr-red-11) !important;
}

.InfoFieldItem__value .success {
  color: var(--sds-clr-green-11) !important;
}

@media screen and (max-width: 500px) {
  .InfoFieldItem {
    flex-wrap: wrap;
  }
  .InfoFieldItem__label {
    width: 100%;
  }
}
