@use "../../styles/utils.scss" as *;

.FloaterDropdown {
  --Floater-dropdown-width: #{pxToRem(240px)};
  &__content {
    padding: pxToRem(4px);
    min-width: pxToRem(100px);
    display: flex;
    flex-direction: column;
    gap: pxToRem(4px);
  }
}

.Floater__content {
  &:has(.FloaterDropdown__content) {
    --Floater-background-color: var(--sds-clr-gray-01);

    left: auto !important;
    right: 0 !important;
    width: var(--Floater-dropdown-width);
    border: 1px solid var(--sds-clr-gray-06);
  }
}
