@use "../../../styles/utils.scss" as *;

.ContractExplorer {
  &__form {
    .Button {
      width: fit-content;
    }
  }
}

.ContractInfoWrapper {
  &[data-no-data="true"] {
    display: grid;
    grid-template-columns: fit-content(pxToRem(130px)) 1fr;

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column-reverse;
      gap: pxToRem(12px);
    }
  }
}

.ContractInfo {
  @media screen and (max-width: 500px) {
    &.Box--xs:not([data-no-data="true"]) {
      gap: pxToRem(12px);
    }
  }

  &__badgeButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;

    .Badge--success,
    .Badge--error {
      transition: background-color var(--sds-anim-transition-default);
    }

    @media (hover: hover) {
      &:hover {
        .Badge--success {
          --Badge-color-background: var(--sds-clr-green-04);
        }

        .Badge--error {
          --Badge-color-background: var(--sds-clr-red-04);
        }
      }
    }
  }

  &__tabs {
    .NoContractLoaded {
      min-height: pxToRem(320px);
    }
  }
}

.InfoFieldItem {
  font-size: pxToRem(12px);
  line-height: pxToRem(18px);

  &__label {
    flex-shrink: 0;
    width: pxToRem(128px);
  }

  &__value {
    word-break: break-all;
  }

  @media screen and (max-width: 500px) {
    flex-wrap: wrap;

    &__label {
      width: 100%;
    }
  }
}

.DataTypeLegend {
  --DataTypeLegend-color: var(--sds-clr-gray-11);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: pxToRem(6px);

  &::before {
    content: "";
    display: block;
    width: pxToRem(8px);
    height: pxToRem(8px);
    border-radius: pxToRem(4px);
    background-color: var(--DataTypeLegend-color);
  }

  &::after {
    content: attr(data-type);
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-semi-bold);
    color: var(--sds-clr-gray-11);
  }

  &[data-type="sym"] {
    --DataTypeLegend-color: var(--sds-clr-navy-10);
  }

  &[data-type="u8-u64"] {
    --DataTypeLegend-color: var(--sds-clr-teal-10);
  }

  &[data-type="i8-i64"] {
    --DataTypeLegend-color: var(--sds-clr-teal-08);
  }

  &[data-type="i128-i256"] {
    --DataTypeLegend-color: var(--sds-clr-teal-07);
  }

  &[data-type="u128-u256"] {
    --DataTypeLegend-color: var(--sds-clr-teal-05);
  }

  &[data-type="bool"] {
    --DataTypeLegend-color: var(--sds-clr-pink-10);
  }

  &[data-type="string"] {
    --DataTypeLegend-color: var(--sds-clr-gray-10);
  }

  &[data-type="address"] {
    --DataTypeLegend-color: var(--sds-clr-gray-11);
  }

  &[data-type="bytes"] {
    --DataTypeLegend-color: var(--sds-clr-gray-09);
  }

  &[data-type="bytesN"] {
    --DataTypeLegend-color: var(--sds-clr-gray-08);
  }
}

.BuildInfo {
  &__data {
    font-size: pxToRem(14px);
    line-height: pxToRem(20px);

    &__title {
      color: var(--sds-clr-gray-12);
      font-weight: var(--sds-fw-semi-bold);
      margin-bottom: pxToRem(10px);
    }

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: pxToRem(16px);
      border-top: 1px solid var(--sds-clr-gray-04);
      padding: pxToRem(10px) 0;
      word-break: break-all;
    }
  }
}

// Saved Smart Contracts
.SavedContractItem {
  .Input__side-element--left {
    width: pxToRem(76px);
  }
}

.NoContractLoaded {
  background-color: var(--sds-clr-gray-03);
  border-radius: pxToRem(8px);
  padding: pxToRem(24px);
  width: 100%;
  height: 100%;

  font-size: pxToRem(14px);
  line-height: pxToRem(20px);
  color: var(--sds-clr-gray-11);

  svg {
    display: block;
    stroke: var(--sds-clr-gray-11);
    width: pxToRem(14px);
    height: pxToRem(14px);
  }
}

.ContractInvoke {
  .Select {
    select {
      font-weight: var(--sds-fw-semi-bold);
      padding-right: pxToRem(32px);
    }
  }
}
