<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src data: 'self'; connect-src https 'self' https https://horizon.stellar.org https://horizon-testnet.stellar.org https://friendbot.stellar.org https://9sl3dhr1twv1.statuspage.io https://api.amplitude.com; report-uri https://sentry.io/api/1773525/security/?sentry_key=478778eb1a5642de97c08f3c3ea33ece;"></meta>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  </body>
</html>
