@use "../../styles/utils.scss" as *;

.DataTable {
  --DataTable-grid-template-columns: 1fr;

  &__container {
    width: 100%;
    position: relative;
    overflow: hidden;

    & > .Loader {
      position: absolute;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__scroll {
    overflow-x: auto;

    // Set min-height to make sure filter dropdown will fit
    &:has(.DataTable__filter) {
      min-height: pxToRem(400px);
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-11);
    transition: opacity var(--sds-anim-transition-default);

    tr[data-style="row"] {
      display: grid;
      grid-template-columns: var(--DataTable-grid-template-columns);
    }

    tr[data-style="emptyMessage"] {
      height: pxToRem(320px);
      text-align: center;

      td {
        padding: 1rem;
        white-space: normal;
        font-weight: var(--sds-fw-regular);
      }
    }

    td,
    th {
      padding: pxToRem(8px) pxToRem(6px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      font-size: pxToRem(12px);
      line-height: pxToRem(18px);
      min-width: 100px;
      position: relative;
      overflow: visible;

      & > div {
        &[data-sortby-dir],
        &[data-filter] {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: pxToRem(4px);
          position: relative;
        }

        &[data-filter] {
          overflow: visible;
        }

        &[data-sortby-dir="asc"] {
          .DataTable__sortBy svg:first-of-type {
            stroke: var(--sds-clr-gray-12);
          }
        }

        &[data-sortby-dir="desc"] {
          .DataTable__sortBy svg:last-of-type {
            stroke: var(--sds-clr-gray-12);
          }
        }
      }
    }

    td {
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);

      &[data-style="bold"] {
        color: var(--sds-clr-gray-12);
      }
    }

    tr:not(:last-child),
    thead tr {
      border-bottom: 1px solid var(--sds-clr-gray-06);
    }

    &[data-disabled="true"] {
      opacity: 0.5;
    }
  }

  &__sortBy,
  &__filter {
    display: block;
    position: relative;
    width: pxToRem(12px);
    height: pxToRem(12px);
  }

  &__sortBy {
    overflow: hidden;

    svg {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      stroke: var(--sds-clr-gray-09);

      &:first-of-type {
        top: pxToRem(-3px);
      }

      &:last-of-type {
        bottom: pxToRem(-3px);
      }
    }
  }

  &__pagination {
    background-color: var(--sds-clr-gray-01);
    border-radius: pxToRem(4px);
    border: 1px solid var(--sds-clr-gray-06);
    padding: pxToRem(3px) pxToRem(8px);
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-semi-bold);
    color: var(--sds-clr-gray-12);
    flex-shrink: 0;
  }

  &__filteredResultCount {
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
    font-weight: var(--sds-fw-semi-bold);
    color: var(--sds-clr-gray-09);
  }

  &__filterDropdown {
    position: absolute;
    width: calc(100% - 0.6rem);
    top: 85%;
    left: pxToRem(4px);

    &__container {
      display: flex;
      flex-direction: column;
      gap: pxToRem(4px);
    }

    &__title {
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);
      font-weight: var(--sds-fw-medium);
      color: var(--sds-clr-gray-11);
      padding: pxToRem(6px) pxToRem(8px);
    }

    &__filterContainer {
      max-height: pxToRem(250px);
      overflow-x: auto;
    }

    &__filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: pxToRem(8px);
      padding: pxToRem(6px) pxToRem(8px);
      background-color: transparent;
      transition: background-color var(--sds-anim-transition-default);
      border-radius: pxToRem(4px);
      cursor: pointer;

      .Label__wrapper {
        width: 100%;
        overflow: hidden;
      }

      .Label {
        color: var(--sds-clr-gray-12);
        width: 100%;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      @media (hover: hover) {
        &:hover {
          background-color: var(--sds-clr-gray-04);
        }
      }

      &:has(input[type="checkbox"]:checked) {
        background-color: var(--sds-clr-gray-04);
      }
    }

    &__buttons {
      .Button {
        flex: 1;
      }
    }
  }

  &__badge {
    &__button {
      cursor: pointer;
      width: pxToRem(12px);
      height: pxToRem(12px);

      svg {
        display: block;
        width: 100%;
        height: 100%;
        stroke: var(--sds-clr-lilac-11);
        transition: stroke var(--sds-anim-transition-default);
      }

      @media (hover: hover) {
        &:hover {
          svg {
            stroke: var(--sds-clr-lilac-12);
          }
        }
      }
    }
  }

  &__actionButtons {
    flex-shrink: 0;
  }
}
