@use "../../styles/utils.scss" as *;

.DataTable {
  --DataTable-grid-template-columns: 1fr;

  &__container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__scroll {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-weight: var(--sds-fw-medium);
    color: var(--sds-clr-gray-11);

    tr[data-style="row"] {
      display: grid;
      grid-template-columns: var(--DataTable-grid-template-columns);
    }

    td,
    th {
      padding: pxToRem(8px) pxToRem(12px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      font-size: pxToRem(12px);
      line-height: pxToRem(18px);
      min-width: 100px;

      &[data-sortby-dir] {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: pxToRem(4px);
      }

      &[data-sortby-dir="asc"] {
        .DataTable__sortBy svg:first-of-type {
          stroke: var(--sds-clr-gray-12);
        }
      }

      &[data-sortby-dir="desc"] {
        .DataTable__sortBy svg:last-of-type {
          stroke: var(--sds-clr-gray-12);
        }
      }
    }

    td {
      font-size: pxToRem(14px);
      line-height: pxToRem(20px);

      &[data-style="bold"] {
        color: var(--sds-clr-gray-12);
      }
    }

    tr:not(:last-child),
    thead tr {
      border-bottom: 1px solid var(--sds-clr-gray-06);
    }
  }

  &__sortBy {
    display: block;
    position: relative;
    width: pxToRem(12px);
    height: pxToRem(12px);
    overflow: hidden;

    svg {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      stroke: var(--sds-clr-gray-09);

      &:first-of-type {
        top: pxToRem(-3px);
      }

      &:last-of-type {
        bottom: pxToRem(-3px);
      }
    }
  }
}
